.screen {
    display: flex;
    flex-direction: column;
    width: 402px;
    align-items: center;
    gap: 22px;
    position: relative;
    background-color: #ffffff;
    border-radius: 60px;
  }
  
  .screen .view {
    position: relative;
    width: 404px;
    height: 122px;
    margin-right: -2.00px;
  }
  
  .screen .overlap-group {
    position: relative;
    width: 402px;
    height: 122px;
    background-color: #def8de;
    border-radius: 60px 60px 0px 0px;
  }
  
  .screen .set {
    display: flex;
    width: 345px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    left: 25px;
  }
  
  .screen .arrow-sm-left {
    position: relative;
    width: 40px;
    height: 40px;
  }
  
  .screen .div {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    position: relative;
  }
  
  .screen .avatar-parents {
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .screen .profile-above {
    position: relative;
    width: 42px;
    height: 42px;
    top: -1px;
    left: -1px;
    border-radius: 21px;
    border: 1px solid;
    border-color: #999999;
  }
  
  .screen .text-wrapper {
    position: absolute;
    height: 16px;
    top: 73px;
    left: 182px;
    font-family: "Pretendard-SemiBold", Helvetica;
    font-weight: 600;
    color: #1e1e1e;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.40px;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .screen .profile {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .screen .ellipse-wrapper {
    position: relative;
    width: 90px;
    height: 90px;
    background-image: url(./img/3d-avatar-12.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .screen .profile-main {
    position: relative;
    width: 92px;
    height: 92px;
    top: -1px;
    left: -1px;
    border-radius: 46px;
    border: 1px solid;
    border-color: #999999;
  }
  
  .screen .menu-header {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 60px;
    align-items: flex-start;
    padding: var(--size-padding-sm) var(--size-padding-lg) var(--size-padding-xs)
      var(--size-padding-lg);
    position: relative;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .screen .div-wrapper {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .screen .text-small {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-small-font-family);
    font-weight: var(--body-small-font-weight);
    color: var(--color-text-default-secondary);
    font-size: var(--body-small-font-size);
    letter-spacing: var(--body-small-letter-spacing);
    line-height: var(--body-small-line-height);
    white-space: nowrap;
    font-style: var(--body-small-font-style);
  }
  
  .screen .text-strong {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-strong-font-family);
    font-weight: var(--body-strong-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--body-strong-font-size);
    letter-spacing: var(--body-strong-letter-spacing);
    line-height: var(--body-strong-line-height);
    white-space: nowrap;
    font-style: var(--body-strong-font-style);
  }
  
  .screen .menu-separator {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
    padding: var(--size-padding-sm) var(--size-padding-lg) var(--size-padding-sm)
      var(--size-padding-lg);
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
  }
  
  .screen .rule {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    background-color: var(--color-border-default-default);
  }
  
  .screen .view-2 {
    position: relative;
    width: 374px;
    height: 506px;
  }
  
  .screen .text-wrapper-2 {
    position: absolute;
    width: 126px;
    height: 16px;
    top: 490px;
    left: 123px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #c7c7cc;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18.2px;
    white-space: nowrap;
  }
  
  .screen .view-3 {
    display: flex;
    flex-direction: column;
    width: 372px;
    align-items: flex-start;
    gap: 17px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .screen .view-4 {
    display: flex;
    height: 42px;
    align-items: flex-start;
    gap: var(--size-space-300);
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
      var(--size-space-400);
    position: relative;
    align-self: stretch;
    width: 100%;
    border-radius: var(--radius-radius-md);
    overflow: hidden;
  }
  
  .screen .img {
    position: relative;
    width: 24px;
    height: 24px;
    margin-bottom: -6.00px;
  }
  
  .screen .body {
    align-items: flex-start;
    margin-bottom: -4.00px;
    display: flex;
    flex-direction: column;
    gap: var(--size-space-100);
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .screen .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .screen .label {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    font-style: var(--body-base-font-style);
  }
  
  .screen .menu-shortcut {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
  }
  
  .screen .img-2 {
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: -3.00px;
    margin-bottom: -3.00px;
  }
  
  .screen .body-2 {
    height: 21px;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 2px;
    margin-bottom: -3.00px;
    display: flex;
    flex-direction: column;
    gap: var(--size-space-100);
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .screen .row-2 {
    margin-top: -1.50px;
    margin-bottom: -1.50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .screen .text-wrapper-3 {
    position: relative;
    width: 41px;
    height: 22px;
    margin-top: -1.00px;
    margin-bottom: -3.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #c6c6c8;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18.2px;
  }
  
  .screen .view-5 {
    display: flex;
    flex-direction: column;
    height: 52px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #fef7ff;
    border-radius: 0px 0px 60px 60px;
  }
  
  .screen .divider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 0 0 auto;
    background-color: #69b56c;
    position: relative;
    align-self: stretch;
    width: 100%;
  }
  
  .screen .divider-2 {
    height: 1px;
    object-fit: cover;
    position: relative;
    align-self: stretch;
    width: 100%;
  }
  
  .screen .tab-group {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 0px 0px 60px 60px;
  }
  
  .screen .tab {
    display: flex;
    flex-direction: column;
    height: 48px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #def8de;
    border-radius: 0px 0px 0px 60px;
    overflow: hidden;
  }
  
  .screen .state-layer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 16px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
  }
  
  .screen .tab-contents {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 14px 0px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .screen .img-3 {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: -10.00px;
    margin-bottom: -10.00px;
  }
  
  .screen .state-layer-wrapper {
    display: flex;
    flex-direction: column;
    height: 48px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #def8de;
  }
  
  .screen .group {
    position: relative;
    width: 104px;
    height: 48px;
    margin-left: -1.00px;
    margin-right: -1.00px;
  }
  
  .screen .overlap-group-2 {
    position: relative;
    height: 48px;
  }
  
  .screen .shape {
    position: absolute;
    width: 104px;
    height: 3px;
    top: 45px;
    left: 0;
    background-color: #65558f;
    border-radius: 100px 100px 0px 0px;
  }
  
  .screen .tab-contents-2 {
    display: inline-flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 14px 0px;
    position: absolute;
    top: 0;
    left: 32px;
  }
  
  .screen .home {
    position: relative;
    width: 40px;
    height: 34px;
    margin-top: -7.00px;
    margin-bottom: -7.00px;
  }
  
  .screen .tab-2 {
    display: flex;
    flex-direction: column;
    height: 48px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #def8de;
    border-radius: 0px 0px 60px 0px;
    overflow: hidden;
  }
  